Repository wazuh/wazuh-ruleset, pull requests merged in 2019-11, with the labels that each got.

#522 Add missing 'r:' to rule 3084 from CIS Debian 9 policy
  sca/debian/cis_debian7_L1.yml
  sca/debian/cis_debian8_L1.yml
  sca/debian/cis_debian9_L1.yml
Labels: SCA, bug

#527 [SCA] Fix path of file for system's network check
  sca/debian/cis_debian8_L2.yml
  sca/debian/cis_debian9_L2.yml
Labels: SCA, bug

#532 Add Windows firewall rules
  rules/0575-win-base_rules.xml
  rules/0602-win-wfirewall_rules.xml
Labels: enhancement, rules, windows

#531 Let osquery daemon messages appear in alerts as the full log
  rules/0545-osquery_rules.xml
Labels: bug
