Repository wazuh/wazuh-ruleset, pull requests merged in 2020-01, with the labels that each got.

#502 nextcloud rules, decoder, test.ini
  decoders/0475-nextcloud_decoders.xml
  rules/0685-nextcloud_rules.xml
  tools/rules-testing/tests/nextcloud.ini
Labels: community, decoders, rules

#541 Web rules - Make Shellshock rules more specific
  rules/0245-web_rules.xml
Labels: rules

#539 Add PCI DSS and NIST compliance to SCA and CIS-CAT rules
  rules/0510-ciscat_rules.xml
  rules/0570-sca_rules.xml
Labels: SCA
