Repository wazuh/wazuh-ruleset, pull requests merged in 2020-05, with the labels that each got.

#638 Fixing duplicated alerts descriptions
  rules/0520-vulnerability-detector_rules.xml
Labels: bug, enhancement

#641 Added compliances for windefender
  rules/0600-win-wdefender_rules.xml
Labels: operations

#642 Merging development branches
  sca/windows/cis_win2016_domainL1.yml
  sca/windows/cis_win2016_domainL2.yml
  sca/windows/cis_win2016_memberL1.yml
  sca/windows/cis_win2016_memberL2.yml
Labels: SCA, operations

#643 Merging development branches
  sca/windows/cis_win2016_domainL1.yml
  sca/windows/cis_win2016_domainL2.yml
  sca/windows/cis_win2016_memberL1.yml
  sca/windows/cis_win2016_memberL2.yml
Labels: SCA, operations

#644 Merging development branches
  sca/windows/cis_win2016_domainL1.yml
  sca/windows/cis_win2016_domainL2.yml
  sca/windows/cis_win2016_memberL1.yml
  sca/windows/cis_win2016_memberL2.yml
Labels: SCA, operations

#648 Added missing description for rule 13106
  rules/0200-smbd_rules.xml
Labels: operations, rules

#650 Merging development branches
  sca/windows/cis_win10_enterprise_L1.yml
Labels: SCA, operations

#651 Merging Development branches
  sca/windows/cis_win10_enterprise_L1.yml
  sca/windows/cis_win10_enterprise_L2.yml
Labels: SCA, operations

#652 Merging Development branches
  sca/windows/cis_win2016_domainL1.yml
  sca/windows/cis_win2016_domainL2.yml
  sca/windows/cis_win2016_memberL1.yml
  sca/windows/cis_win2016_memberL2.yml
Labels: SCA, operations

#653 Merging development branches
  sca/windows/cis_win2016_domainL1.yml
  sca/windows/cis_win2016_domainL2.yml
  sca/windows/cis_win2016_memberL1.yml
  sca/windows/cis_win2016_memberL2.yml
Labels: SCA, operations

#654 Adds Windows Server 2012R2 compliances, from Windows Server 2016
  sca/windows/cis_win2012r2_domainL1.yml
  sca/windows/cis_win2012r2_domainL2.yml
  sca/windows/cis_win2012r2_memberL1.yml
  sca/windows/cis_win2012r2_memberL2.yml
Labels: SCA, operations

#660 Merging development branches
  sca/windows/cis_win2019_memberL1.yml
  sca/windows/cis_win2019_memberL2.yml
Labels: SCA, operations

#661 Merging Development branches
  sca/windows/cis_win2019_domainL1.yml
  sca/windows/cis_win2019_domainL2.yml
  sca/windows/cis_win2019_memberL1.yml
  sca/windows/cis_win2019_memberL2.yml
Labels: SCA, operations

#666 Added parameter to execute geoip tests
  tools/rules-testing/runtests.py
  tools/rules-testing/tests/static_filters.ini
  tools/rules-testing/tests/static_filters_geoip.ini
Labels: bug

#667 Removed unwanted spaces in group name
  rules/0020-syslog_rules.xml
  rules/0310-openbsd_rules.xml
  rules/0480-qualysguard_rules.xml
  rules/0485-cylance_rules.xml
  rules/0565-ms_ipsec_rules.xml
  rules/0580-win-security_rules.xml
  rules/0590-win-system_rules.xml
  rules/0601-win-vipre_rules.xml
  rules/0640-junos_rules.xml
  rules/0685-macos-sshd_rules.xml
Labels: bug

#658 [Implementation] PaloAlto Integration
  CHANGELOG.md
  decoders/0505-paloalto_decoders.xml
  rules/0700-paloalto_rules.xml
  tools/rules-testing/tests/paloalto.ini
Labels: decoders, rules

#669 Merging development branches
  sca/centos/6/cis_centos6_linux.yml
Labels: SCA, operations

#670 Remove e.reason from update_ruleset script
  update_ruleset
Labels: bug

#672 [Rebase] Improve Squid (Branch: 3.13-squid)(Issue: #224)
  CHANGELOG.md
  decoders/0305-squid_decoders.xml
  tools/rules-testing/tests/squid_rules.ini
Labels: decoders

#674 Merging development branches
  sca/debian/cis_debian7_L1.yml
Labels: SCA, operations

#677 Merging dev branches
  sca/debian/cis_debian7_L1.yml
  sca/debian/cis_debian7_L2.yml
Labels: SCA, operations

#662 Fix provider name for Windows Eventlog
  rules/0575-win-base_rules.xml
  rules/0610-win-ms_logs_rules.xml
Labels: bug, windows
