Repository wazuh/wazuh-ruleset, pull requests merged in 2020-11, with the labels that each got.

#775 Update 0350-amazon_rules.xml
  CHANGELOG.md
  rules/0350-amazon_rules.xml
Labels: operations

#755 Fix syslog.ini test
  tools/rules-testing/tests/syslog.ini
Labels: bug

#781 4.0 SCA - RHEL & CentOS 7 Fix
  sca/centos/7/cis_centos7_linux.yml
  sca/rhel/7/cis_rhel7_linux.yml
Labels: SCA

#782 New AWS ELB rules
  rules/0350-amazon_rules.xml
Labels: rules
