Repository wazuh/wazuh-ruleset, pull requests merged in 2020-04, with the labels that each got.

#589 Change Dropbear brute attack rule entrypoint
  rules/0305-dropbear_rules.xml
Labels: cicd, dropbear, rules

#595 3.13-feature-macOS
  CHANGELOG.md
  decoders/0500-macos-sshd_decoders.xml
  rules/0685-macos-sshd_rules.xml
  tools/rules-testing/tests/macos-sshd.ini
Labels: operations

#618 Merging dev branches
  sca/rhel/7/cis_rhel7_linux.yml
Labels: SCA

#620 Development branches merge
  sca/rhel/7/cis_rhel7_linux.yml
Labels: SCA

#472 Improved Windows Defender ruleset with new rules
  rules/0600-win-wdefender_rules.xml
Labels: enhancement, operations, rules

#628 Added section 3 and section 5
  sca/rhel/8/cis_rhel8_linux.yml
Labels: SCA, operations

#629 Merge develpment branches
  sca/rhel/8/cis_rhel8_linux.yml
Labels: SCA, operations
